<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a00807017.thinkfast" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.a00807017.thinkfast.Login"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.a00807017.thinkfast.MyGame"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.a00807017.thinkfast.Continue1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CONTINUE1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.a00807017.thinkfast.NewUser"
            android:label="@string/title_activity_new_user" >
        </activity>
        <activity
            android:name="com.example.a00807017.thinkfast.ViewPagerStyle1Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.a00807017.thinkfast.Options"
            android:label="@string/title_activity_options" >
        </activity>
    </application>

</manifest>
